# Data
raw_data/
*.csv

# Python / Package
**/__pycache__/
*.egg-info

# Environment
.env
.envrc
.python-version

# Notebooks
.ipynb_checkpoints
notebooks/
*.ipynb

# Misc
.coverage
.DS_Store
.vscode/