# Data
raw_data/
*.csv

# Python / Package
**/__pycache__/
*.egg-info

# Assets
**/assets/*.npy
**/assets/assets_glove-wiki

# Environment
.env
.envrc
.python-version

# Notebooks
.ipynb_checkpoints
notebooks/
*.ipynb

# Misc
.coverage
.DS_Store
.vscode/
