# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
gensim
tensorflow

# tests/linter
black
coverage
flake8
pytest
yapf
colorama

# API
mlflow
psycopg2-binary
s3fs
uvicorn
fastapi

# GCP
google-cloud-bigquery
gcsfs
google-cloud-storage
db-dtypes

# utilities
six>=1.14
joblib
memoized-property
termcolor
