# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
gensim

# tests/linter
black
coverage
flake8
pytest
yapf

# API
mlflow
psycopg2-binary
s3fs

# GCP
google-cloud-bigquery
gcsfs
google-cloud-storage

# utilities
six>=1.14
joblib
memoized-property
termcolor
